
.navbar{
    background-color: black;
    
    .navbar-brand{
        
        img{
            
            max-width: 40%;
        
        }

    }
}   

.navbar-toggler-icon{
    background-color: aqua;
    stroke: aqua;
}

